[submodule "sdcv"]
	path = sdcv
	url = https://github.com/manateelazycat/sdcv.git
[submodule "lazy-load"]
	path = lazy-load
	url = https://github.com/manateelazycat/lazy-load.git
[submodule "aweshell"]
	path = aweshell
	url = https://github.com/manateelazycat/aweshell.git
[submodule "auto-save"]
	path = auto-save
	url = https://github.com/manateelazycat/auto-save.git
[submodule "awesome-pair"]
	path = awesome-pair
	url = https://github.com/manateelazycat/awesome-pair.git
[submodule "awesome-tab"]
	path = awesome-tab
	url = https://github.com/manateelazycat/awesome-tab.git
