[submodule "sdcv"]
	path = sdcv
	url = https://github.com/manateelazycat/sdcv.git
[submodule "lazy-load"]
	path = lazy-load
	url = https://github.com/manateelazycat/lazy-load.git
[submodule "aweshell"]
	path = aweshell
	url = https://github.com/manateelazycat/aweshell.git
[submodule "auto-save"]
	path = auto-save
	url = https://github.com/manateelazycat/auto-save.git
[submodule "awesome-pair"]
	path = awesome-pair
	url = https://github.com/manateelazycat/awesome-pair.git
[submodule "awesome-tab"]
	path = awesome-tab
	url = https://github.com/manateelazycat/awesome-tab.git
[submodule "posframe"]
	path = posframe
	url = https://github.com/tumashu/posframe.git
[submodule "olivetti"]
	path = olivetti
	url = https://github.com/rnkn/olivetti.git
[submodule "web-mode"]
	path = web-mode
	url = https://github.com/fxbois/web-mode.git
[submodule "Indium"]
	path = Indium
	url = https://github.com/NicolasPetton/Indium.git
[submodule "instant-rename-tag"]
	path = instant-rename-tag
	url = https://github.com/manateelazycat/instant-rename-tag.git
[submodule "highlight-matching-tag"]
	path = highlight-matching-tag
	url = https://github.com/manateelazycat/highlight-matching-tag.git
[submodule "js2-refactor"]
	path = js2-refactor
	url = https://github.com/js-emacs/js2-refactor.el.git
[submodule "one-key"]
	path = one-key
	url = https://github.com/manateelazycat/one-key.git
[submodule "watch-other-window"]
	path = watch-other-window
	url = https://github.com/manateelazycat/watch-other-window.git
[submodule "expand-region"]
	path = expand-region
	url = https://github.com/magnars/expand-region.el.git
[submodule "tide"]
	path = tide
	url = https://github.com/ananthakumaran/tide.git
[submodule "cache-path-from-shell"]
	path = cache-path-from-shell
	url = https://github.com/manateelazycat/cache-path-from-shell.git
[submodule "editorconfig-emacs"]
	path = editorconfig-emacs
	url = https://github.com/editorconfig/editorconfig-emacs.git
[submodule "prettier-emacs"]
	path = prettier-emacs
	url = https://github.com/prettier/prettier-emacs.git
[submodule "typescript-mode"]
	path = typescript-mode
	url = https://github.com/emacs-typescript/typescript.el.git
[submodule "flycheck"]
	path = flycheck
	url = https://github.com/flycheck/flycheck.git
[submodule "flycheck-posframe"]
	path = flycheck-posframe
	url = https://github.com/alexmurray/flycheck-posframe.git
[submodule "s"]
	path = s
	url = https://github.com/magnars/s.el.git
[submodule "js2-mode"]
	path = js2-mode
	url = https://github.com/mooz/js2-mode.git
[submodule "dash"]
	path = dash
	url = https://github.com/magnars/dash.el.git
[submodule "multiple-cursors"]
	path = multiple-cursors
	url = https://github.com/magnars/multiple-cursors.el.git
[submodule "yasnippet"]
	path = yasnippet
	url = https://github.com/joaotavora/yasnippet.git
[submodule "popweb"]
	path = popweb
	url = https://github.com/manateelazycat/popweb.git
[submodule "lsp-bridge"]
	path = lsp-bridge
	url = https://github.com/manateelazycat/lsp-bridge.git
[submodule "markdown-mode"]
	path = markdown-mode
	url = https://github.com/jrblevin/markdown-mode.git
[submodule "spinner"]
	path = spinner
	url = https://github.com/Malabarba/spinner.el.git
[submodule "ht"]
	path = ht
	url = https://github.com/Wilfred/ht.el.git
[submodule "json-mode"]
	path = json-mode
	url = https://github.com/joshwnj/json-mode
[submodule "json-snatcher"]
	path = json-snatcher
	url = https://github.com/Sterlingg/json-snatcher
